{% extends "base.html" %}
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link ps-0" id="home-tab" data-bs-toggle="link" href="{% url 'rejected_warranties' %}" role="link" aria-controls="overview" aria-selected="false">Rejected Warranties</a>
</li>
<li class="nav-item">
    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'rejected_warranty' rejected_warranty.pk %}" role="tab" aria-controls="overview" aria-selected="true">Rejected Warranty</a>
</li>
{% endblock page-heading %}
{% block blue-btn %}
<div class="d-flex align-items-center">
    <div class="btn-wrapper d-flex me-0 ">    
        <button class="btn btn-info" id="delete_btn">Processing</button>    
    </div>
    <div>
        <button class="btn btn-danger" id="delete-btn" title="Delete" data-bs-toggle="modal" data-bs-target="#confirm-deletion-modal">Delete</button>
    </div>
</div>
{% endblock blue-btn %}
{% block content %}
<!-- Messages -->
<div id="message-div">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<!-- Table -->
<div class="row">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Warranty ID: {{rejected_warranty.id}}</h4>
        <div class="table-responsive">
            <table class="table table-sm">              
                <tr>
                    <th>Application Date/Time</th>
                    <td>:</td>
                    <td>{{rejected_warranty.application_datetime}}</td>
                </tr>
                <tr>
                    <th>Rejected Date/Time</th>
                    <td>:</td>
                    <td>{{rejected_warranty.rejected_datetime}}</td>
                </tr>
                <tr>
                    <th>Customer Name</th>
                    <td>:</td>
                    <td>{{rejected_warranty.customer_name}}</td>
                </tr>                
                <tr>
                    <th>Contact Number</th>
                    <td>:</td>
                    <td>{{rejected_warranty.contact_number}}</td>
                </tr>
                <tr>
                    <th>Email ID</th>
                    <td>:</td>
                    <td>{{rejected_warranty.email_id}}</td>
                </tr>
                <tr>
                    <th>Alternative Number</th>
                    <td>:</td>
                    <td>
                        {% if rejected_warranty.alternative_number %}
                        {{rejected_warranty.alternative_number}}
                        {% else %}
                        None
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Product</th>
                    <td>:</td>
                    <td>{{rejected_warranty.product}}</td>
                </tr>
                <tr>
                    <th>Serial Number</th>
                    <td>:</td>
                    <td>{{rejected_warranty.serial_number}}</td>
                </tr>
                <tr>
                    <th>Model Number</th>
                    <td>:</td>
                    <td>{{rejected_warranty.model_number}}</td>
                </tr>
                <tr>
                    <th>Billing Name</th>
                    <td>:</td>
                    <td>{{rejected_warranty.billing_name}}</td>
                </tr>
                <tr>
                    <th>Invoice Number</th>
                    <td>:</td>
                    <td>{{rejected_warranty.invoice_number}}</td>
                </tr>
                <tr>
                    <th>Addresss</th>
                    <td>:</td>
                    <td>{{rejected_warranty.address}}</td>
                </tr>
                <tr>
                    <th>Product Complain</th>
                    <td>:</td>
                    <td style="text-wrap: wrap;">{{rejected_warranty.product_complain}}</td>
                </tr>
                <tr>
                    <th>Reason for Rejection&nbsp;&nbsp;<a class="btn p-0" href="#reason_update" id="reason_toggle_btn" title="Update Remark"><i class="mdi mdi-lead-pencil" style="width: 20px;"></i></a></th>                    
                    <td>:</td>
                    <td style="text-wrap: wrap;">{{rejected_warranty.reason}}</td>
                </tr>
            </table>
        </div>
        <br>
        <!-- reason update form -->
        <form class="form" method="POST" id="reason_update" style="display:none">
            {% csrf_token %}
            <div class="form-group d-flex flex-column">
                <label for="reason">Reason</label>
                <textarea name="reason" id="reason" cols="30" rows="10" required placeholder="Reason For Rejection">{{rejected_warranty.reason}}</textarea>
            </div>
            <div id="reason-assurance-section">
                <div class="text-center">
                    <button class="btn btn-success" type="button" style="width:120px" id="reason-submit-btn" onclick="updateReasonAndLoadAnimation()">Update Reason</button>
                    <button type="button" class="btn btn-primary" id="close_reason_btn" style="width:120px">Cancel</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- confirm deletion box -->
<div class="position-absolute border shadow shadow-danger px-3 pt-3 bg-light" id="confirm_deletion" style= "display: none; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <h4 class="text-danger">Moving back to Warranty Applications...</h4>
    <hr/>
    <div id="assurance-section">
        <h6>Are your sure?</h6>
        <div class="d-flex justify-content-between">
            <a class="btn btn-info" href="{% url 'delete_rejected_warranty' rejected_warranty.pk %}" style="width: 75px;" onclick="loadingAnimation()">Move</a>
            <button type="button" class="btn btn-primary text-light" id="close_deletion_btn" style="width: 75px;">Cancel</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm-deletion-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-start" id="exampleModalLabel"><span class="text-danger">Deleting </span>Rejected Warranty Application '<span class="deleting-warranty-application">{{rejected_warranty.id}} ({{rejected_warranty.customer_name}})</span>'. . .</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Are you sure?</h4>
        </div>
        <div class="modal-footer d-flex justify-content-between align-items-center">
            <a href="{% url 'hard_delete_rejected_warranty' rejected_warranty.pk %}" class="btn btn-danger" style="width: 75px;">Confirm</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 75px;">Cancel</button>
        </div>
      </div>
    </div>
</div>
<script>
    // reason/deletion function
    var reasonToggleBtn = document.getElementById('reason_toggle_btn')
    var deleteBtn = document.getElementById('delete_btn');
    
    reasonToggleBtn.addEventListener('click', function (){
        document.getElementById('reason_update').style.display='block'        
        document.getElementById('confirm_deletion').style.display='none'       
    });
    deleteBtn.addEventListener('click', function (){
        document.getElementById('confirm_deletion').style.display='block'
        document.getElementById('reason_update').style.display='none'  
    });

    // close reason/deletion function
    var closeReasonBtn = document.getElementById('close_reason_btn');
    var closeDeletionBtn = document.getElementById('close_deletion_btn')

    closeReasonBtn.addEventListener("click", function(){
      document.getElementById('reason_update').style.display = "none";
    });
    closeDeletionBtn.addEventListener("click", function(){
      document.getElementById('confirm_deletion').style.display = "none";
    });
</script>
{% endblock content %}