{% extends "customer_base.html" %}
{% load static %}
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'customer_account' %}" role="tab" aria-controls="overview" aria-selected="true">Account Info</a>
</li>
{% endblock page-heading %}
{% block content %}
<!-- Messages -->
<div id="message-div">
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
          {% endfor %}
      </ul>
  {% endif %}
</div>
<!-- Table -->
<div class="col-lg-12 grid-margin stretch-card px-2">
  <div class="card">
    <div class="card-body">      
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">Account Info</h4>
            <button class="btn btn-light p-1" title="Edit"><i class="mdi mdi-pencil" id="info-edit-btn"></i></button>
        </div>
      <div class="table-responsive">
        <table class="table table-sm">
            <tr>
                <td colspan="3">
                    <img {% if customer.photo %} src="{{ customer.photo.url }}" {% else %} src="{% static 'images/default_images/default_dp.jpeg' %}" {% endif %} alt="Customer Image">
                </td>
            </tr> 
            <tr>
                <th>Name</th>
                <td>:</td>
                <td>{{customer.name}}</td>                
            </tr>
            <tr>
                <th>Username / Email</th>
                <td>:</td>
                <td>{{customer.email}}</td>                
            </tr>
            <tr>
                <th>Phone</th>
                <td>:</td>
                <td>{{customer.phone}}</td>                
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="position-absolute" id="info-update-form" style="width: 420px; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;">    
    <form class="bg-light p-3 shadow" name="customerInfo" action="{% url 'update_customer_info' %}" method="POST" enctype="multipart/form-data" onsubmit="return customerInfoValidate();">
        {% csrf_token %}
        <h5 class="text-center text-uppercase">Update Info</h5>
        <div class="form-group">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="image" class="form-control" value="{{customer.name}}">
        </div>
        <div class="form-group">
            <label for="name" class="form-label">Name</label>&nbsp;&nbsp;<small><span class="required-span" id="name-span"></span></small>
            <input type="text" name="name" class="form-control" value="{{customer.name}}">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>&nbsp;&nbsp;<small><span class="required-span" id="phone-span"></span></small>
            <input type="tel" name="phone" class="form-control" pattern="[0-9]+" title="Please enter only numeric characters" value="{{customer.phone}}">
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>

<script>
    var infoEditBtn = document.getElementById('info-edit-btn');
    var cancelBtn = document.getElementById('cancel-btn');
    var infoUpdateForm = document.getElementById('info-update-form');

    cancelBtn.addEventListener('click', function () {
        infoUpdateForm.style.display="none";
    });
    infoEditBtn.addEventListener('click', function () {
        infoUpdateForm.style.display="block";
    });
</script>

{% endblock content %}