{% extends "customer_base.html" %}
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'reset_customer_password' %}" role="tab" aria-controls="overview" aria-selected="true">Reset Password</a>
</li>
{% endblock page-heading %}
{% block content %}
<!-- Messages -->
<div id="message-div">
  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
          {% endfor %}
      </ul>
  {% endif %}
</div>
<!-- Table -->
<div class="col-lg-12 grid-margin stretch-card px-2">
  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Resetting Password</h4>
        <form name="resetPasswordForm" class="forms-sample" method="POST" action="{% url 'reset_customer_password' %}" onsubmit="return resetPasswordValidate();">
          {% csrf_token %}
          <div class="form-group">
            <label for="current_password">Current Password*</label>&nbsp;&nbsp;<small><span class="required-span" id="current_password-span"></span></small>
            <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Current Password">
          </div>
          <div class="form-group">
            <label for="new_password">New Password*</label>&nbsp;&nbsp;<small><span class="required-span" id="new_password-span"></span></small>
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
          </div>
          <div class="form-group">
            <label for="repeat_password">Repeat Password*</label>&nbsp;&nbsp;<small><span class="required-span" id="repeat_password-span"></span></small>
            <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repeat Password">
          </div>
          <button type="submit" class="btn btn-primary me-2">Reset Password</button>
          <a href="{% url 'home' %}" class="btn btn-light">Cancel</a>
        </form>
    </div>
  </div>
</div>
{% endblock content %}