{% extends "base.html" %}
{% block page-heading %}
<li class="nav-item">
    <a class="nav-link ps-0" id="home-tab" data-bs-toggle="link" href="{% url 'technicians' %}" role="link" aria-controls="overview" aria-selected="false">Technicians</a>
  </li>
<li class="nav-item">
    <a class="nav-link ps-0" id="home-tab" data-bs-toggle="link" href="{% url 'technician' technician.pk %}" role="link" aria-controls="overview" aria-selected="false">Technician - {{technician.name}} / {{technician.department}}</a>
</li>
<li class="nav-item">
    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'technician' technician.pk %}" role="tab" aria-controls="overview" aria-selected="true">Update Technician - {{technician.name}} / {{technician.department}}</a>
</li>
{% endblock page-heading %}
{% block content %}
<!-- Messages -->
<div id="message-div">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<!-- Form -->
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Technician</h4>
      <form name="updateTechnicianForm" class="forms-sample form" method="POST" action="{% url 'update_technician' technician.pk %}" enctype="multipart/form-data" onsubmit="return updateTechnicianValidate();">
        {% csrf_token %}
        <div class="form-group">
          <label for="name" class="form-label">Name</label>&nbsp;&nbsp;<small><span class="required-span" id="name-span"></span></small>
          <input type="text" class="form-control" id="name" name="name" placeholder="Technician Name" value="{{technician.name}}">          
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email ID</label>&nbsp;&nbsp;<small><span class="required-span" id="email-span"></span></small>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email Id" value="{{technician.email}}">
        </div>
        <div class="form-group">
            <label for="mobile" class="form-label">Mobile Number</label>&nbsp;&nbsp;<small><span class="required-span" id="mobile-span"></span></small>
            <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" pattern="[0-9]+" title="Please enter only numeric characters" value="{{technician.mobile}}">
        </div>
        <div class="form-group">
          <label for="department" class="form-label">Department</label>&nbsp;&nbsp;<small><span class="required-span" id="department-span"></span></small>
          <input type="text" class="form-control" id="department" name="department" placeholder="Department" value="{{technician.department}}">
        </div>
        <div class="form-group">
          <label for="residential_location" class="form-label">Residential Location</label>&nbsp;&nbsp;<small><span class="required-span" id="residential_location-span"></span></small>          
          <textarea class="form-control" name="residential_location" id="residential_location" rows="3" placeholder="Residential Location" style="height: 120px">{{technician.residential_location}}</textarea>
        </div>
        <div class="form-group">
          <label for="photo" class="form-label">Photo</label>
          <input type="file" class="form-control" name="photo" id="photo">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary me-2">Update Technician</button>
        </div>
      </form>
    </div>
</div>
{% endblock content %}